body {
  margin: 0%;
  padding: 0%;
  transition: 2s;
}
i {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 98%;
  transform: translate(-50%, -50%);
}
.darkmode {
  background-color: black;
  color: white;
  transition: ease-in-out 2s;
}
